<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if(oidc.issuer) {%>
        <li class="nav-item">
          <a class="nav-link" href="jokes">All Jokes</a>
        </li>
        <% }else{ %>
        <li class="nav-item">
          <a class="nav-link" href="jokes">All Jokes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="jokesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jokes
          </a>
          <div class="dropdown-menu" aria-labelledby="jokesDropdown">
            <a class="nav-link" href="newjoke">New Joke</a>
            <a class="nav-link" href="approvejokes">Approve Jokes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="deletejokes">Delete Jokes</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="usersDropdown">
            <a class="nav-link" href="newuser">New User</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="deleteusers">Delete Users</a>
          </div>
        </li>
        <% } %>
      </ul>
      <form class="form-inline my-2 my-lg-0 ml-auto" action="login">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </nav>