<form action="#" method="POST" enctype="multipart/form-data">
    <fieldset class="w-50 mx-auto mt-2">
        <legend>Create New Joke</legend>
        <label for="fname">First Name:</label><br>
        <input type="text" name="fname" class="w-100"><br><br>

        <label for="lname">Last Name:</label><br>
        <input type="text" name="lname" class="w-100"><br><br>

        <label for="uname">Username:</label><br>
        <input type="text" name="uname" class="w-100"><br><br>

        <label for="pwd">Password:</label><br>
        <input type="password" name="pwd" class="w-100"><br><br>

        <label for="cpwd">Confirm Password:</label><br>
        <input type="password" name="cpwd" class="w-100"><br><br>

        <label for="email">Email:</label><br>
        <input type="text" name="email" class="w-100"><br><br>

        <label for="utype">User Type:</label><br>
        <select name="utype" id="utype" class="w-100">
            <option value="">-- Select User Type --</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select><br>

        <label for="avatar">Avatar:</label><br>
        <input type="file" name="avatar"><br><br>

        <input type="submit" class="btn btn-primary w-100" name="submit" value="Submit">
    </fieldset>
</form>